[submodule "controller"]
	path = controller
	url = https://github.com/Juniper/contrail-controller.git
	branch = R4.0
[submodule "generateds"]
	path = generateds
	url = https://github.com/danieljasinski/contrail-generateDS.git
	branch = vro
[submodule "contrail-java-api"]
	path = contrail-java-api
	url = https://github.com/danieljasinski/contrail-java-api.git
	branch = flat-property-hierarchy

