- hosts: builder
  name: Build and test Juniper/contrail-vro-plugin
  tasks:
    - name: install maven
      yum:
        name: maven
        state: latest
      become: yes

    - name: install Java 8 JDK
      yum:
        name: java-1.8.0-openjdk-devel
        state: latest
      become: yes

    - name: build vro plugin
      command: make REPO_HOST=sdnpoc-vrodev.englab.juniper.net build
      args:
        chdir: "{{ ansible_env.HOME }}/{{ packaging.target_dir }}/{{ vro-plugin }}"
      become: yes
      become_user: root
      creates: "{{ ansible_env.HOME }}/{{ packaging.target_dir }}/{{ vro-plugin }}/dist/o11nplugin-contrail.vmoapp"